.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #222222; /* A modern dark gray with a subtle blue tint */
  color: #e0e0e0; /* Light gray text for good contrast */
}

.username-text{
  padding-left: 5px;
}

.pagination-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.skin-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

